body {
    background-color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #f0f0f0;
}
header {
    background-color: #001f3d;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #002b53;
    padding: 0.5rem;
}
.nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.nav a {
    text-decoration: none;
    padding: 15px;
}
a {
    color: #fff;
    display: inline-block;
}
.nav li{
    float: left;
}
a:hover {
    color: pink;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    float: left;
}
.tut {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    float: bottom;
}
.block {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
#change {
    display: flex;
}
.middle {
    display: flex;
    margin: 1rem;
}
#last {
    margin: 1rem;
    padding-right: 190px;
}